/* Common bg color variable */
:root{
--bg-color: #F9FBFF;
}

/* Main content background color */
 .main-content{
    background-color: var(--bg-color);
 }
 /* Ensure full height layout */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Main content takes available space */
.main-content {
    min-height: calc(100vh - 4rem); /* Adjust based on your header height */
}

/* Footer stays at bottom */
footer {
    width: 100%;
}
/* Button styles */
#global-search,#notification-button{
    background-color:white;
}

#search-order,#priority-filter,#clear-filters,#order-form input,#garment-type,
#fabric-type,
#color,
#item-qty,
#unit-price,
#instruction,
#chest,
#waist,
#hips,
#shoulder-width,
#arm-length,
#neck_size,
#length,
#devliery-date,
#set-priority,
#garment-name,
#description{
    background-color: var(--bg-color);
}