/* Common bg color variable */
:root{
--bg-color: #F9FBFF;
}

/* Main content background color */
 .main-content{
    background-color: var(--bg-color);
 }
/* Button styles */
#global-search,#notification-button{
    background-color:white;
}

#search-order,#priority-filter,#clear-filters,#order-form input,#garment-type,
#fabric-type,
#color-type,
#item-qty,
#unit-price,
#instruction,
#chest,
#waist,
#hips,
#shoulder-width,
#arm-length,
#neck_size,
#length,
#devliery-date,
#set-priority{
    background-color: var(--bg-color);
}