:root{
--bg-color: #F9FBFF;
}
/* #hs-header{
    background-color:var(--bg-color);
} */
 .main-content{
    background-color: var(--bg-color);
 }
#notification-button{
    background-color:white;
}
#search-order{
    background-color: var(--bg-color);
}
#priority-filter{
    background-color: var(--bg-color);
}
